{% extends 'mango_shop/basic.html' %}
{% load crispy_forms_tags %}
{% block title %} Reset Password {% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card shadow-lg p-4" style="width: 400px; border-radius: 12px;">
        <h3 class="text-center mb-4 text-primary">Reset Password</h3>
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-primary btn-lg w-100" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
